{% extends "base.html" %}

{% block content %}

<h1>Results</h1>

<h2>{{brand}} {{model}}</h2>


<div id="results-wrapper">
<p>Make : {{session['brand'] }}</p>
<p>Model : {{session['model'] }}</p>
<p>Stock : {{stock_count}}</p>
<p>Sold Units (30 Days) : {{sold_units}}</p>

<div id="country_sold_wrapper">
<p>Country Sold</p>
<p>
{% for country, value in countries_sold.items() %}
  <span id="country_sold">{{ country }}: {{ value }}</span>{% if not loop.last %} {% endif %}
{% endfor %}
</p>
</div>

<p>Average Selling Price (30 Days) : {{avg_sell_price}}</p>
</div>


{% endblock content %}