{% extends "base.html" %}

{% block content %}

    {% if not selected_country %}
    <div class="container">
    <p>Please select your country location : </p>
    <form method="POST">
        <input type="submit" name="country" value="Germany" class="btn btn-primary">
        <input type="submit" name="country" value="Portugal" class="btn btn-primary">
    </form>
    {% endif %}

    {% if selected_country %}
    <h1>Country</h1>

    {% if selected_country == "Portugal" %}
        <img class="flag" id="pt_flag" src="../static/pt_flag.svg">
    {% else %}
        <img class="flag" id="de_flag" src="../static/de_flag.svg">
    {% endif %}

    <h3>Working Brands</h3>
        <img class="brand_logo" src="../static/vw_logo.svg">
        <p class="small_chrs">File should contain 2 columns : brand and VIN</p>



    <form method="POST" enctype="multipart/form-data">
    <input  type="file" name="file" class="btn btn-primary">
    <input id="uploadForm" type="submit" name="action" value="Extract" class="btn btn-primary">
    </form>

    <div class="loading"></div>

    <script>
        const form = document.querySelector('#uploadForm');
        const loading = document.querySelector('.loading');

        // #need to add if
        const intervalId = setInterval(() => {
          fetch("/logs")
            .then(r => r.json())
            .then(data => {
              loading.innerHTML =
                  `
                    <h3>${data.logs}</h3>
                  `;
            });
        }, 1500);

    </script>

    {% endif %}

    </div>
{% endblock content %}